@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  outline: none;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

:root {
  --body-font: 'Inter', sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
  --delay: 0s;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  padding: 1em 2em;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--body-color);
  font-family: var(--body-font);
  background-image: linear-gradient(
      62deg,
      rgba(1, 95, 183, 0.9732216701223994) 13%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(44deg, rgba(0, 43, 99, 0.07922090238615942) 39%, rgba(242, 140, 143, 0.5) 18%),
    linear-gradient(
      118deg,
      rgba(84, 202, 242, 0.03152997265339608) 40%,
      rgba(247, 155, 187, 0.5) 54%
    ),
    linear-gradient(58deg, rgba(90, 90, 237, 0.16144443572260592) 83%, rgba(249, 156, 142, 0.5) 23%);
  background-blend-mode: normal, lighten, multiply, hard-light;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  background-color: var(--theme-bg);
  max-width: 1240px;
  max-height: 900px;
  height: 95vh;
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  position: relative;
}

.sidebar {
  width: 220px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-duration: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar .logo {
  display: none;
  width: 30px;
  height: 30px;
  background-color: #22b07d;
  flex-shrink: 0;
  color: #fff;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.sidebar .logo-expand {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  position: sticky;
  top: 0;
}

.sidebar .logo-expand:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  background: var(--theme-bg);
  width: 200px;
  height: 70px;
  z-index: -1;
}

.sidebar-link.back svg {
  transform: rotate(180deg);
}

.sidebar-link:hover,
.sidebar-link.is-active {
  color: #fff;
  font-weight: 600;
}

.sidebar-link.is-active:nth-child(2n + 1) svg {
  background: #ff7551;
}

.sidebar-link.is-active:nth-child(2n) svg {
  background: #32a7e2;
}

.sidebar-link.is-active:nth-child(2n + 3) svg {
  background: #6c5ecf;
}

.sidebar.collapse {
  width: 90px;
  border-right: 1px solid var(--border-color);
}

.sidebar.collapse .logo-expand,
.sidebar.collapse .side-title {
  display: none;
}

.sidebar.collapse .logo {
  display: flex;
}

.sidebar.collapse .side-wrapper {
  width: 30px;
}

.sidebar.collapse .side-menu svg {
  margin-right: 30px;
}

@media screen and (max-width: 1090px) {
  .sidebar {
    width: 90px;
    border-right: 1px solid var(--border-color);
  }

  .sidebar .logo-expand,
  .sidebar .side-title {
    display: none;
  }

  .sidebar .logo {
    display: flex;
  }

  .sidebar .side-wrapper {
    width: 30px;
  }

  .sidebar .side-menu svg {
    margin-right: 30px;
  }
}

@keyframes bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.side-menu {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.side-menu a,
.side-menu button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
}

.side-menu button {
  padding: 0;
  font-size: 15px;
  font-family: var(--body-font);
  background: none;
  border: none;
  cursor: pointer;
}

.side-menu button:disabled {
  cursor: not-allowed;
}

.side-menu svg:hover + .side-menu button:disabled {
  color: red;
}

.side-menu svg {
  width: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  flex-shrink: 0;
  margin-right: 16px;
}

.side-menu svg:hover {
  color: #fff;
}

.side-title {
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.side-wrapper {
  padding: 36px 0;
  width: 145px;
}

.side-wrapper + .side-wrapper {
  border-bottom: none;
}

.wrapper {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 30px;
}

.search-bar {
  height: 34px;
  display: flex;
  width: 100%;
  max-width: 450px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--button-bg);
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px;
  flex-grow: 1;
  overflow: auto;
}

.anim {
  animation: bottom 0.8s var(--delay) both;
}

.main-header {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #1f1d2b 0%, #1f1d2b 78%, rgb(31 29 43 / 0%) 100%);
  z-index: 11;
}

.small-header {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 30px 0 20px;
}

.separate {
  width: 3px;
  height: 3px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 6px;
}

.separate.video-separate {
  background-color: var(--body-color);
}

.videos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 980px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

.video {
  position: relative;
  background-color: var(--video-bg);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
  color: var(--body-color);
  font-family: var(--body-font);
  text-decoration: none;
  object-fit: cover;
}

.video-wrapper {
  position: relative;
}

.video-wrapper video {
  height: 180px;
  object-fit: cover;
}

.video-name {
  color: #fff;
  font-size: 16px;
  line-height: 1.4em;
  padding: 12px 20px 0;
  overflow: hidden;
  background-color: var(--video-bg);
  z-index: 9;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-desc {
  padding-inline-start: 30px;
  padding-inline-end: 20px;
  font-size: 14px;
  line-height: 1.2em;
  list-style: inside;
}

.video-view {
  font-size: 12px;
  padding: 12px 20px 20px;
  background-color: var(--video-bg);
  position: relative;
}

.video-tag {
  transition: 0.3s;
  padding: 20px 20px 0px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-rating {
  position: absolute;
  background: rgba(21, 13, 13, 0.44);
  color: rgb(255 255 255 / 85%);
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 6px;
  top: 10px;
  z-index: 1;
  right: 8px;
}

.video:hover video {
  transform: scale(1.3);
  transform-origin: center;
}

.video:hover .video-rating {
  display: none;
}

.video:hover .video-author {
  bottom: -65px;
  transform: scale(0.6);
  right: -3px;
  z-index: 10;
}

.video:hover .video-tag {
  opacity: 0;
}

video {
  max-width: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: block;
  cursor: pointer;
  transition: 0.4s;
}

.stream-area {
  width: 100%;
  max-height: calc(100% - 56px);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

@media screen and (max-width: 940px) {
  .stream-area {
    max-height: none;
    grid-template-columns: 1fr;
  }
}

.video-stream {
  object-fit: cover;
  transition: 0.3s;
}

.video-p {
  margin-right: 12px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
}

.video-p-wrapper {
  display: flex;
  align-items: center;
}

.video-p-wrapper svg {
  width: 24px;
  padding: 4px;
}

@media screen and (max-width: 650px) {
  .video-p-wrapper {
    flex-direction: column;
  }

  .video-p-wrapper .video-p-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video-p-wrapper .video-p {
    margin-right: 0;
  }
}

.video-p-sub {
  font-size: 12px;
}

.video-p-title {
  font-size: 24px;
  color: #fff;
  line-height: 1.4em;
  margin: 16px 0 20px;
}

.video-p-subtitle {
  font-size: 14px;
  line-height: 1.5em;
  max-width: 60ch;
}

.video-p-subtitle + .video-p-subtitle {
  margin-top: 16px;
}

.video-p-name {
  margin-bottom: 8px;
  color: #fff;
  display: flex;
  align-items: center;
}

.video-detail {
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.content-stream {
  flex-grow: 1;
  overflow: auto;
}

.content-title {
  color: #fff;
  font-size: 18px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  margin-top: 26px;
  text-decoration: none;
}

.content-wrapper.active {
  background-color: var(--border-color);
  border-radius: 10px;
}

.content-wrapper.lock {
  cursor: not-allowed;
}

.content-title {
  color: #fff;
  font-size: 14px;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.content-img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  object-position: right;
  margin-right: 16px;
  transition: 0.3s;
}

.content-img:hover {
  transform: scale(1.02);
}

.content-content {
  max-width: 20ch;
  padding-right: 16px;
}

.content-status,
.content-info {
  color: var(--body-color);
  font-size: 13px;
}

.content-status {
  margin: 8px 0;
  gap: 4px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 735px) {
  .videos {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 475px) {
  .main-container {
    padding: 0 20px 20px;
  }

  .header {
    padding: 20px;
  }

  .sidebar,
  .sidebar.collapse {
    width: 40px;
  }

  .sidebar {
    align-items: center;
  }

  body {
    padding: 0;
  }

  .container {
    height: 100vh;
    border-radius: 0;
    max-height: 100%;
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--body-color);
  border-radius: 10px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
  gap: 4px;
  display: flex;
  justify-content: center;
}

.pagination li {
  display: inline-flex;
}

.pagination li a {
  min-width: 30px;
  min-height: 30px;
  flex-shrink: 0;
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: var(--body-color);
  border-radius: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pagination li a.active {
  background-color: var(--border-color);
  color: var(--body-color);
}

.pagination li a:hover:not(.active) {
  background-color: var(--border-color);
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  animation: outercontainer 4s linear infinite;
}

.loader div {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader div:nth-child(1) {
  top: 20px;
  background: #59cd90;
  animation: ld3_div1 2s linear infinite;
}

.loader div:nth-child(2) {
  top: -20px;
  background: #d91e36;
  animation: ld3_div2 2s linear infinite;
}

.loader div:nth-child(3) {
  left: 20px;
  background: #f39237;
  animation: ld3_div4 2s linear infinite;
}

.loader div:nth-child(4) {
  left: -20px;
  background: #0072bb;
  animation: ld3_div3 2s linear infinite;
}

@keyframes outercontainer {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ld3_div1 {
  0% {
    top: 20px;
  }
  25% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  75% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}

@keyframes ld3_div2 {
  0% {
    top: -20px;
  }
  25% {
    top: 0;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 0;
  }
  100% {
    top: -20px;
  }
}

@keyframes ld3_div3 {
  0% {
    left: -20px;
  }
  25% {
    left: 0;
  }
  50% {
    left: -20px;
  }
  75% {
    left: 0;
  }
  100% {
    left: -20px;
  }
}

@keyframes ld3_div4 {
  0% {
    left: 20px;
  }
  25% {
    left: 0;
  }
  50% {
    left: 20px;
  }
  75% {
    left: 0;
  }
  100% {
    left: 20px;
  }
}

.error-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-title {
  font-size: 8rem;
  line-height: 1;
  font-weight: 600;
  color: white;
  letter-spacing: 0.1em;
  margin: 0;
}

.error-text {
  position: absolute;
  background-color: #ff6a3d;
  padding: 0 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  transform: rotate(12deg);
  color: var(--theme-bg);
}

.error-btn {
  margin: 0;
  background-color: #6c5ecf;
  border: 0;
  color: #fff;
  font-size: 13px;
  margin-top: 26px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.error-btn:hover {
  background-color: #5847d0;
}
